<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <h2>Bookings</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Guest ID</th>
                <th>Room Name</th>
                <th>Name</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking[0] }}</td> 
                    <td>{{ booking[1] }}</td> 
                    <td>{{ booking[2] }}</td> 
                    <td>{{ booking[3] }} {{ booking[4] }}</td>
                    <td>{{ booking[5] }}</td>
                    <td>{{ booking[6] }}</td>
                    <td>{{ booking[7] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('add_room') }}">Add Room</a>
    <a href="{{ url_for('remove_room', room_name='room_name') }}">Remove Room</a>
    <a href="{{ url_for('update_room', room_name='room_name') }}">Update Room</a>
</body>
</html>
