<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Panel</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
    
        <a href="#" class="logo">Resort<span>.</span></a>
    </header>
    <div class="admin-block">
        <h1>Admin Panel</h1>
        <h2>Guest List</h2>
        <table border="1">
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Cell Number</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Adults</th>
                <th>Children</th>
                <th>Room Type</th>
                <th>Payment Method</th>
            </tr>
            {% for guest in guestlist %}
            <tr>
                <td>{{ guest.customer_id }}</td>
                <td>{{ guest.firstname }}</td>
                <td>{{ guest.lastname }}</td>
                <td>{{ guest.address }}</td>
                <td>{{ guest.cel_num }}</td>
                <td>{{ guest.check_in }}</td>
                <td>{{ guest.check_out }}</td>
                <td>{{ guest.adults }}</td>
                <td>{{ guest.children }}</td>
                <td>{{ guest.room_name }}</td>
                <td>{{ guest.payment_method }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('index') }}"><button class="btn btn --primary color"> Back to Home</button></a>
    </div>
</body>
</html>
