<!DOCTYPE html>
<html llang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Book Now!</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">

<!--FONTS-->
<div> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Cherry+Cream+Soda&family=Concert+One&family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</div>
</head>

<body>

<!--NAVIGATION BAR--> 
<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo">
        <img src="static/images/yyy.png" alt="stingray">
    </a>


    <nav class="navbar"> 
    
        <a href="#home">HOME</a>
        <a href="#rates">RATES</a>
        <a href="#about">ABOUT</a>
        <a href="#contact">CONTACT</a>

        <img src="static/images/profile.png" class="user-pic" onclick="toggleMenu()">
        
        <div class="sub-menu-wrap" id="subMenu">
         <div class="sub-menu">
        
            <div class="user-info">
                <img src="static/images/profile.png">
                <h4> hello, {{ user_info.firstname }} </h4>
            </div>
             <hr>
        
            
                <a href="{{ url_for('profile') }}" class="sub-menu-link" >
                    <i class="f	fas fa-user-edit" ></i>
                    <h4>Edit Profile</h4>
                    <span> > </span>
                </a>

                <a href="{{ url_for('logout') }}" class="sub-menu-link">
                    <i class="fas fa-sign-out-alt" ></i>
                    <h4>Logout</h4>
                    <span> > </span>
                </a>
                
            </div>

         </div>
        </div>
        
        
    </nav>


    <script> 
        let subMenu = document.getElementById("subMenu");

        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    
    
    </script>
</header>


<section class="home" id="home" style="background-image: url('static/images/gd.jpg');">

    <div class="content">
        <h3>Coral Cove</h3>
        <span> YOUR BEACHFRONT SANCTUARY </span> <br>
        <p>__________________________</p>
        <a href="#rates" class="btn">Book Now</a>

    </div>

</section>


<section class="rates" id="rates">

    <h1>HOLA AMIGOS!</h1>
    <br>
    <br>

    <div class="box-container">
        <form action="/index" method="POST">
            
            <div class="box">

                <div class="box1"> <!--check in-->
                     <i class="fa fa-calendar"></i><label for="check_in"> Check In:</label>
                    <input class="w3-input w3-border" type="date" id="check_in" name="check_in" placeholder="dd/mm/yy" required><br>
                   
                </div>

                <div class="box2"> <!--check out-->
                    <i class="fa fa-calendar"></i><label for="check_out">  Check Out:</label>
                    <input class="w3-input w3-border" type="date" id="check_out" name="check_out" placeholder="dd/mm/yy" required><br>
                    
                </div>

                <script>
                    const today = new Date().toISOString().split('T')[0];
                    document.getElementById('check_in').setAttribute('min', today);
                    document.getElementById('check_out').setAttribute('min', today);
                    
                    document.getElementById('check_in').addEventListener('change', function() {
                        document.getElementById('check_out').setAttribute('min', this.value);
                    });
                </script> 

                <div class="box3"> <!--adult-->
                    <i class="fa fa-user"></i><label for="adult-count">  Adults:</label>
                    <input class="w3-input w3-border" type="number" id="adult-count" name="adult-count" min="1" value="1" required><br>
                    
                </div>

                <div class="box4"> <!--child-->
                    <i class="fa fa-child"></i><label for="child-count">  Children:</label>
                    <input class="w3-input w3-border" type="number" id="child-count" name="child-count" min="0" value="0"><br>
                    
                </div>

                <section class="rooms"> <!--room choice-->
                    <div class="w3-row-padding w3-padding-16" >

            
                        {% for room in rooms %}
                            <div class="w3-half w3-margin-bottom">
                                <div class="w3-container w3-white">
                                    <h3>{{ room.room_name }} </h3>
                                    <h3 style="display: none;" width="100%;" height:"auto;" > {{room.image}} </h3> 
                                    <img src="{{room.image}}" alt="{{ room_name }}" style="width:100%; height:auto;">
                                    <h6 class="w3-opacity"> Price: {{ room.cost }}/night</h6>
                                    <p>{{ room.description }}</p>
        
                                
                                        {% for item in room.more %}
                                        <li>{{ item }}</li>
                                        {% endfor %}
                                    
                                        <i class="fa fa-bath" title="Bathroom"></i> <i class="fa fa-phone" title="Phone"></i> <i class="fa fa-wifi" title="Wi-Fi"></i> 
                                        <i class="fa fa-tv" title="Television" ></i> <i class="fa fa-cutlery" title="Breakfast"></i>
                                        
                                    
                                    <button type="submit" value="{{ room.room_name }}" name="room-name" id="room-name" class="w3-button w3-block w3-black" onclick="validateGuestCount(this)">Choose Room</button>
                                </div>
                            </div>
                            {% endfor %}

                    </div>
                </section>
            </div>
        </form>
    </div>
</section>



 
<div>

    <section class="about" id="about">

        <h1 class="heading"><span> ABOUT</span> US <h1>
        
        <div class="row">

            <div class="video-container">
                <video src="static/images/lala.mp4" loop autoplay muted></video>
            </div>

            <div class="content">
                <p>_________________________________________________________</p>
                <h1> CORAL COVE RESORT </h1>
                <p> CORAL COVE RESORT IS YOUR ULTIMATE TROPICAL ESCAPE. NESTLED AMIDST PRISTINE BEACHES AND LUSH GREENERY, OUR RESORT OFFERS A SERENE AND LUXURIOUS GATEWAY. IDULGE IN WORLD-CLASS AMENITIES, SAVOR DELECTABLE CUISINE, UNWIND ON OUR TRANQUIL OASIS AND REJUVENATE YOUR SENSES. WHETHER YOU'RE SEEKING ADVENTURE, RELAXATION, OR WANTING TO CREATE UNFORGETTABLE MEMORIES, CORAL COVE RESORT HAS IT ALL. OUR RESORT INVITES YOU TO ESCAPE THE ORDINARY AND EMBRACE THE EXTRAORDINARY. DRIFT AWAY TO A REALM OF TRANQUILITY, WHERE THE AZURE OCEAN KISSES THE SHORE. CORAL COVE RESORT IS A SANCTUARY FOR THE SOUL, A PARADISE FOR THE SENSES.</p>
                <p>_________________________________________________________</p>

            </div>

        </div>

    </section>

    <section class="contact" id="contact">
        <h1 class="heading"> <span> CONTACT </span> US </h1>

        <div class="row">

            <form actions="">
                <input type="text" placeholder="Name" class="box">
                <input type="email" placeholder="Email" class="box">
                <input type="number" placeholder="Number" class="box">
                <textarea name="" class="box" placeholder="Message" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="Send Message" class="btn">

            </form>

            <div class="image">
                <h1>MORE ABOUT CORAL COVE RESORT</h1>
                <address>
                Brgy. Diversion Road, Tanauan<br>
                Tacloban City, Leyte, 6500<br>
                Philippines<br>
                09123456789<br>
                bogart22@gmail.com
            </address>
            <h1>FEEL FREE TO CONTACT US!</h1>
            <address>
                <a href="https://www.facebook.com/vincentlloyd.caspe.9?mibextid=ZbWKwL">FACEBOOK</a> <br>
                <a href="https://www.instagram.com/oxmonfford/profilecard/?igsh=MTIwOTg0dWdqZ3kzNA==">INSTAGRAM</a>
            </address>
            </div>
    </section>
</div>

</body>
</html>