<!DOCTYPE html>
<html llang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Book Now!</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">

<!--FONTS-->
<div> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Cherry+Cream+Soda&family=Concert+One&family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</div>
</head>

<body>

<!--NAVIGATION BAR--> 
<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo">resort<span>.</span></a>


    <nav class="navbar"> 
        <a href="#home">home</a>
        <a href="#rates">rates</a>
        <a href="#about">about</a>
        <a href="#contact">contact</a>
    </nav>
</header>


<section class="home" id="home" style="background-image: url('static/images/resort1.jpg');">

    <div class="content">
        <h3>Coral Cove</h3>
        <span>  You Beachfront Sanctuary</span>
        <p> EXPERIENCE UNPARALLEL HOSPITALITY TAILORING YOUR NEEDS, IN BREATHTAKING ISLANDPARADISE. GO THROUGH THE BEAUTY OF THE BLUE AND UNWIND IN TROPICAL LUXURY. </p>
        <a href="#rates" class="btn">Book Now</a>

    </div>

</section>


<section class="rates" id="rates">

    <h1>Welcome aboard!</h1>

    <div class="box-container">
        <form action="/index" method="POST">
            
            <div class="box">

                <div class="box1"> <!--check in-->
                    <label for="check_in"> Check In:</label>
                    <input class="w3-input w3-border" type="date" id="check_in" name="check_in" placeholder="dd/mm/yy" required><br>
                </div>

                <div class="box2"> <!--check out-->
                    <label for="check_out">Check Out:</label>
                    <input class="w3-input w3-border" type="date" id="check_out" name="check_out" placeholder="dd/mm/yy" required><br>
                </div>

                <script>
                    const today = new Date().toISOString().split('T')[0];
                    document.getElementById('check_in').setAttribute('min', today);
                    document.getElementById('check_out').setAttribute('min', today);
                    
                    document.getElementById('check_in').addEventListener('change', function() {
                        document.getElementById('check_out').setAttribute('min', this.value);
                    });
                </script> 

                <div class="box3"> <!--adult-->
                    <label for="adult-count">Adults:</label>
                    <input class="w3-input w3-border" type="number" id="adult-count" name="adult-count" min="1" value="1" required><br>
                </div>

                <div class="box4"> <!--child-->
                    <label for="child-count">Children:</label>
                    <input class="w3-input w3-border" type="number" id="child-count" name="child-count" min="0" value="0"><br>
                </div>

                <section class="rooms"> <!--room choice-->
                    <div class="w3-row-padding w3-padding-16" >

            
                            {% for room_name, room_details in rooms.items() %}
                            <div class="w3-half w3-margin-bottom">
                                <div class="w3-container w3-white">
                                    <h3>{{ room_name }} </h3>
                                    <h3 style="display: none;" width="100%;" height:"auto;" > {{room_details.image}} </h3> 
                                    <img src="{{room_details.image}}" alt="{{ room_name }}" style="width:100%; height:auto;">
                                    <h6 class="w3-opacity"> Price: {{ room_details.price }}/night</h6>
                                    <p>{{ room_details.description }}</p>
        
                                
                                        {% for item in room_details.more %}
                                        <li>{{ item }}</li>
                                        {% endfor %}
                                    
                    
                                    <button type="submit" value="{{ room_name }}" name="room-name" id="room-name" class="w3-button w3-block w3-black">Choose Room</button>
                                </div>
                            </div>
                            {% endfor %}

                    </div>
                </section>
            </div>
        </form>
    </div>
</section>



 
<div>

    <section class="about" id="about">

        <h1 class="heading"><span>about</span> us <h1>
        
        <div class="row">

            <div class="video-container">
                <video src="static/images/lala.mp4" loop autoplay muted></video>
                <h3> best place to unwind</h3>
            </div>

            <div class="content">
                <h3> WHAT ARE YOU WAITING FOR? BOOK NOW!</h3>
                <p>A tantalizing destination where fun awaits at every turn, tempting you to indulge in unforgettable experiences!"</p>


            </div>

        </div>

    </section>

    <section class="contact" id="contact">
        <h1 class="heading"> <span> contact </span> us </h1>

        <div class="row">

            <form actions="">
                <input type="text" placeholder="name" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="number" placeholder="number" class="box">
                <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="send message" class="btn">

            </form>

            <div class="image">
                <img src="resort1.jpg" alt="">
            </div>
    </section>
</div>

</body>
</html>



