<DOCTYPE>
    <div class="form">
        <h1 class="heading">Log In Page</h1>
        <form action="{{url_for("login")}}" method = "POST">
            
    {% if message %}
    <p>{{ message }}
    {% endif %}
            <div>
                <input class="input" type="email" name="email" id="email" placeholder="Something@gmail.com" required>
            </div>
            <br>
            <div>
                <input class="input" type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <br>
            <div>
                <input class="button" type="submit" value="Login">
                <a href="/signup" ><input class="button" type="button" value="Register An Account"></a>
            </div>
        </form>
    </div>
</html>