<DOCTYPE>
    <html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Page</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
   
</head>
<body>
    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
    
        <a href="#" class="logo">Resort<span>.</span></a>
    </header>  
    <div class="login-block">
        <div class="login">Log In Page</div>
        <form action="{{url_for("login")}}" method = "POST">
            
            {% if message %}
            <p>{{ message }}
            {% endif %}

            <div class="login">
                <div class="input-log">
                    <input class="input" type="email" name="email" id="email" required>
                    <span></span>
                    <label>email</label>
                </div>
                <br>
                <div class="input-log">
                    <input class="input" type="password" name="password" id="password" required>
                    <span></span>
                    <label>password</label>
                </div>
                <br>
                <div>
                    <button class="btn btn --primary" type="submit" value="Login"> Login</button> <br>
                    <a href="/signup" ><button class="btn btn --primary" type="button" value="Register An Account">Register an Account</button></a>
                </div>
            </div>
            
        </form>
    </div>
</html>