<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">Resort<span>.</span></a>
    </header>
    <div class="payment-block">
        <h3 class="payment">Payment Details</h3>
        <section class="pay">
            <form action="/payment" method="GET">
                <p>Guest Name: {{ user_info.firstname }} {{ user_info.lastname }}</p>
                <p>Room Type: {{ guest.room_name }}</p>
            </form>
            <form action="" method="POST" id="paymentForm">
                <label for="payment-method">Payment Method:</label>
                <select id="payment-method" name="payment-method" onchange="showPaymentDetails()" required>
                    <option value="">Payment Method</option>
                    <option value="Paytaca">Paytaca</option>
                    <option value="debit-card">Debit Card</option>
                </select><br>
                <div id="payment-details"></div>
                <button type="submit" class="btn btn --primary color" value="Complete Booking">Complete Booking</button>
            </form>
            <a href="{{ url_for('reservationform', check_in=guest.check_in, check_out=guest.check_out, adults=guest.adults, children=guest.children, room_type=guest.room_type) }}"><button class="btn btn --primary color">Cancel</button></a>
            <script>
                function showPaymentDetails() {
                    var paymentMethod = document.getElementById("payment-method").value;
                    var paymentDetailsDiv = document.getElementById("payment-details");
                    var detailsHtml = '';

                    if (paymentMethod === 'paytaca') {
                        detailsHtml = '<a href="https://www.paytaca.com/">Proceed to Paytaca</a>';
                    } else if (paymentMethod === 'debit-card') {
                        detailsHtml = `
                            <label for="cardholder-name">Cardholder's Name:</label>
                            <input type="text" id="cardholder-name" name="cardholder-name" required><br>

                            <label for="card-number">Card Number:</label>
                            <input type="text" id="card-number" name="card-number" required><br>

                            <label for="expiry-date">Expiry Date:</label>
                            <input type="text" id="expiry-date" name="expiry-date" required placeholder="MM/YY"><br>

                            <label for="cvv">CVV:</label>
                            <input type="text" id="cvv" name="cvv" required>
                        `;
                    }

                    paymentDetailsDiv.innerHTML = detailsHtml;
                }
            </script>
        </section>
    </div>
</body>
</html>