<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Receipt</title>
    
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <link rel="stylesheet" href="/static/style.css">
        
    </head>
    <body>
    
        <header>
    
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="fas fa-bars"></label>
        
            <a href="#" class="logo">Resort<span>.</span></a>
        </header>  
        <div class="receipt-block">
              <h3 class="Reservation">Reservation Receipt</h3>

              <section class="Receipt">
                <p>Thank you, {{ user_info.firstname }} {{ user_info.lastname }}!</p>
                <p>Your Customer ID: <strong>{{ guest.customer_id }}</strong></p>
                <p>Your reservation details:</p>
              </section>
                <section class="Receipt2">
                    <p>Check In: {{ guest.check_in }}</p>
                    <p>Check Out: {{ guest.check_out }}</p>
                    <p>Adults: {{ guest.adults }}</p>
                    <p>Children: {{ guest.children }}</p>
                    <p>Room Type: {{ guest.room_name }}</p>
                    <p>Address: {{ user_info.address }}</p>
                    <p>Phone Number: {{ user_info.cel_num}}</p>
                    <p>Payment Method: {{ guest.payment_method }}</p>
                    <p>Total Price {{ guest.total_price }}</p>
                </section>

                <button type="submit" class="sub" onclick="openPopup()">Submit</button>

                <div class = "popup" id="popup">
                    <img src="static/images/2.png">
                    <h2> Thank You!</h2>
                    <p> LLOYD IG MEKUS MEKUS NLA!!!!</p>
                    <a href ='/index' button type="button" onclick="closePopup()" >OK</button>

                </div>  
      </div>

      <script>
        let popup = document.getElementById("popup");

        function openPopup(){
            popup.classList.add("open-popup");
        }

        function closePopup(){
            popup.classList.remove("open-popup");
        }

      </script>
          </div>
    </body>
</html>