<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign Up Page</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
   
</head>
<body>
    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
    
        <a href="#" class="logo">Resort<span>.</span></a>
    </header> 

<div class="signup-block">
    <h1 class="signup">Register Account</h1>
    
    <form action = "{{url_for("signup")}}" method = "POST">
        <div>
            <input class="input" type="text" name="first-name" id="first-name" placeholder="First Name: " required size="31" style="text-align: center;">
            <input class="input" type="text" name="last-name" id="last-name" placeholder="Last Name: " required size="31" style="text-align: center;">
        </div>
        <br>
        <div class="gender">
            <p>
            Female: <input type="radio" name="gender" id="gender" value="">
            Male: <input type="radio" name="gender" id="gender" value=""><br></p>
        </div>
        <br>
        <div>
            <input class="input" id="cel-num" type="tel" name="cel-number" id="cel-number" placeholder="Phone Number" required minlength="11" maxlength="11" required pattern="\d*", size="31" style="text-align: center;">
            <input class="input" id="" type="text" name="address" id="address" placeholder="Address:" required size="31" style="text-align: center;">
        </div>
        <br>
        <div>
            <input class="input" type="email" name="email" id="email" placeholder="Eamil" required size="31" style="text-align: center;">
            <input class="input" type="password" name="password" id="password" placeholder="Password:" required minlength="8" size="31" style="text-align: center;">   
        </div>
        <br>
        <div>
            <button type="submit" value="Register Account" class="btn btn --primary" id="submit">Register Account</button>
            <br>
            <a href="login"><button type="button" value="Login Instead" name="login" class="btn btn --primary" id="login">Login Instead</button></a>
        </div>
    </form>
    <div>
        
    </div>
</div>
</html>